<!--
/*
 * This code is from 'Open Diablo Editor' version 2.x, authored by Matthew R. Karlsen and other contributors.
 *
 * See README.txt for full contributor list.
 *
 * This code is tri-licensed, under the CC0, MIT and Apache 2.0 licenses (i.e. pick one of the three licenses).
 *
 * Careful attribution is strongly preferred, though not required under CC0.
 */
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Open Diablo Editor</title>
    <meta charset="UTF-8">
    <script src="scripts/vue.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style/ode.css">
</head>
<body>
<h1>Open Diablo Editor</h1>
<p><a href="http://localhost:4666/">Back</a></p>
<div id="scope">
<select class="selector" v-model="itemModifiers.itemModifierSelected">
    <option v-for="m in itemModifiers.itemModifierList" :value="m">{{ m.name }}</option>
</select>
<form>
    <p><label>Modifier name</label><input type="text" :value="itemModifiers.itemModifierSelected.name" readonly></p>
    <p><label>Modifier name pointer</label><input type="number" :value="itemModifiers.itemModifierSelected.namePointer" readonly></p>
    <p><label>Item effect 1</label><input type="number" v-model="itemModifiers.itemModifierSelected.itemEffectOne"></p>
    <p><label>Item effect 2</label><input type="number" v-model="itemModifiers.itemModifierSelected.itemEffectTwo"></p>
    <p><label>Item effect 3</label><input type="number" v-model="itemModifiers.itemModifierSelected.itemEffectThree"></p>
    <p><label>Item effect 4</label><input type="number" v-model="itemModifiers.itemModifierSelected.itemEffectFour"></p>
    <p><label>Minimum effects value</label><input type="number" v-model="itemModifiers.itemModifierSelected.minimumEffectValue"></p>
    <p><label>Maximum effects value</label><input type="number" v-model="itemModifiers.itemModifierSelected.maximumEffectValue"></p>
    <p><label>Quality level</label><input type="number" v-model="itemModifiers.itemModifierSelected.qualityLevel"></p>
    <p><label>Occurrence probability (bit encoded)</label><input type="number" v-model="itemModifiers.itemModifierSelected.occurrencePossibilities"></p>
    <p><label>Zero</label><input type="number" :value="itemModifiers.itemModifierSelected.byteTwentyThree" readonly></p>
    <p><label>Excluded combinations indicator</label><input type="text" v-model="itemModifiers.itemModifierSelected.excludedComboIndicator"></p>
    <p><label>Cursed indicator</label><input type="number" v-model="itemModifiers.itemModifierSelected.cursedIndicator"></p>
    <p><label>Min gold</label><input type="number" v-model="itemModifiers.itemModifierSelected.minGold"></p>
    <p><label>Max gold</label><input type="number" v-model="itemModifiers.itemModifierSelected.maxGold"></p>
    <p><label>Value multiplier</label><input type="number" v-model="itemModifiers.itemModifierSelected.valueMultiplier"></p>
</form>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    <input type="button" value="Save!" id="save-button">
</form>
<script src="scripts/load.js" type="text/javascript"></script>
<script src="scripts/save.js" type="text/javascript"></script>
</body>
</html>